<!DOCTYPE html>
<html>
  <head>
    <title>Prithvi's Profile</title>
  </head>
  <body>
    <h1>Prithvi's Profile</h1>
    <img src = "https://scontent.fhyd10-1.fna.fbcdn.net/v/t39.30808-6/313090735_5572872629426470_8416389704251419808_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=wehpOfr8vS4AX-705-p&_nc_ht=scontent.fhyd10-1.fna&oh=00_AfB5Za8rTCJkgTaRwiJEaewSEzbzXYh1gf-1VX_6gWZS3A&oe=64011075">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus iaculis urna id volutpat. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Dolor purus non enim praesent elementum facilisis leo vel. Adipiscing elit pellentesque habitant morbi tristique senectus et netus et. Ornare aenean euismod elementum nisi quis eleifend. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Ante in nibh mauris cursus. Fringilla phasellus faucibus scelerisque eleifend. Purus non enim praesent elementum. Sit amet volutpat consequat mauris. A erat nam at lectus urna duis convallis convallis tellus. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Donec massa sapien faucibus et molestie. Tempor orci dapibus ultrices in iaculis nunc. Diam maecenas ultricies mi eget mauris pharetra et. Mauris sit amet massa vitae tortor condimentum lacinia. Facilisis leo vel fringilla est ullamcorper.
    </p>
    <h2>Skills</h2>
    <p>Python, Pandas, Numpy, Visualization, Data Analyst, Machine Learning Algorithms, Statistics, Flask, SQL(MySQL), Excel, Powerpoint</p>
    <h2>Careers</h2>
    <h3>Scitech Patent Art Service Pvt Ltd</h3>
    <p>Working as Knowledge Scientist - Oct'2022</p>
    <p>Role: Analysis of Patent using various tools - Like Excel, Power BI, Powerpoint to showcase our Clients about the goings in there domain.</p>
    
  </body>
</html> 